@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

/*  -----------------------------------------------
    die verschiedenen Darstellungsarten
    -----------------------------------------------

    Dictionary.app
    --------------
    html.apple_client-application

    Popup-Panel
    -----------
    html.apple_client-panel
    - lässt alles mit d:priority='2' weg

    Text
    ----
    - ersetzt Gaiji durch Textrepräsentation in @d:alt

    SimpleText
    ----------
    - lässt alles mit d:priority='2' weg
    - ersetzt Gaiji durch Textrepräsentation in @d:alt

    Apple Color Reference
    ---------------------
    - https://developer.apple.com/design/human-interface-guidelines/macos/visual-design/color/

*/
html {
/*    -apple-color-filter: apple-invert-lightness(); */
}

d|entry {
}

body {
    font-size: 12pt;
    font: -apple-system-body;
    font-family: -apple-system;
    font-feature-settings: "halt", "liga", "clig"; /* 字幅半角メトリクス */
    line-height: 130%;
    margin-left: 0.9em;
    margin-right: 0.9em;
    margin-top: 1.0em;
    margin-bottom: 1.5em;

    color: text;
}

html.apple_client-panel body {
    margin-top: 0em;
}

@media (prefers-color-scheme: dark) {
    img {
        filter: invert(100%);
    }
}

div.entry {
    margin-bottom: 2.5em;
}

h1 {
    font-size: 150%;
    font-weight: normal;
    margin-bottom: 0.2em;
}

hr {
    margin-right: 0;
    margin-left: 0;
    margin-top: 2em;
    margin-bottom: .8em;
    border: 1px solid -apple-system-tertiary-label ;
    border-bottom: 0;
    color: -apple-system-secondary-label;
}
span.headword {
    font-size: 100%;
    margin-bottom: 0.2em;
}

span.headword .divider {
    color: -apple-system-secondary-label;
}

span.hyouki {
    font-weight: normal;
    font-size: 80%;
    vertical-align: 10%;
}

.uid {
    font-size: 80%;
}

a {
    color: -webkit-link;
    text-decoration: none;
}

a:hover {
    color: -webkit-link;
    text-decoration: underline;
}

rt {
    color: -apple-system-secondary-label;
}

.image {
    display: block;
    margin-top: 0.4em;
    text-align: center;
}

.image .caption {
    color: -apple-system-secondary-label;
    font-size: 80%;
    font-weight: bold;
}

.url {
    display: block;
    font-size: 80%;
}

.url:before {
    content: 'Link: '
}

.genus, .foreign {
    font-style: italic;
    color: -apple-system-secondary-label;
}

.global .etym .foreign {
    color: inherit;
}

.genus {
    font-size: 80%;
}

ol, ul {
    padding: 0;
    margin: 0;
}

ol.master {
    counter-reset: master;
    margin-left: 0;
    padding-left: 0;
}

ol.master > li:before {
    color: -apple-system-secondary-label;
    font-weight: bold;
    content: '[' counter(master, upper-alpha) '] ';
    counter-increment: master;
}

ol > li {
    list-style: none;
}

ol.senses > li {
    position: relative;
    margin: 0 0 .2em 1em;
    padding-left: .2em;
}

ol.senses {
    counter-reset: senses;
    /*padding-left:0; /* Remove the default left padding */
}

ol.senses > li:before {
    color: -apple-system-secondary-label;
    content: '[' counter(senses, decimal) '] ';
    counter-increment: senses;
}

ol.senses.single > li:before {
    content: '';
}

.subentries ol {
    display: inline;
}

.subentries ol > li {
    display: inline;
    margin-left: .2em;
    padding-left: .2em;
}

.subentries ol + ol {
    padding-left: .2em;
}

.subentries ul {
    display: inline;
}

ul.related {
    display: inline;
}

ul.related > li {
    list-style: none;
    display: inline;
}

ul.related > li.related:before {
    content: ' ‖ ';
    color: -apple-system-tertiary-label;
}

.master {
    display: block;
}

.descr {
    color: -apple-system-secondary-label;
}

.descr:before {
    content: ' (';
}

.descr:after {
    content: ') ';
}

.klammer:before, .klammer + .token:before, .klammer + .famn:before {
    content: '\0020'
}

.sense > .def:before {
    content: 'Def.: ';
    font-size: 80%;
    color: -apple-system-secondary-label;
}

.etym {
    color: -apple-system-secondary-label;
}

span.etym {
    font-size: 80%;
}

.global .etym {
    color: -apple-system-secondary-label;
    font-size: inherit;
}

.global .etym:before {
    content: '〔';
}

.global .etym::after {
    content: '〕';
}

.famn {
    font-weight: bold
}

.b {
    border-bottom: 1px dotted -apple-system-secondary-label
}

.t {
    border-top: 1px dotted -apple-system-secondary-label
}

.l {
    border-left: 1px dotted -apple-system-secondary-label
}

.r {
    border-right: 1px dotted -apple-system-secondary-label
}

.accents {
    padding-left: 3px;
    padding-right: 3px;
}

.accents .accent, .senseaccent {
    font-family: sans-serif;
    padding: 3px 4px 2px 3px;
    border: solid 1px -apple-system-secondary-label;
    border-radius: 3px;
    color: -webkit-link;
    margin-left: 1px;
    margin-right: 1px;
}

.accents .accent {
    font-size: 40%;
    vertical-align: 5%;
}

.senseaccent {
    font-size: 60%;
    margin-right: .4em;
}

.accents .accent.active {
    color: white;
    background-color: -webkit-link;
}

@media (prefers-color-scheme: dark) {
    .accents .accent.active {
        color: text;
    }
}

.hidden {
    display: none
}

.transcr {
    font-style: italic;
}

.jap + .transcr:before, .transcr + .jap:before {
    content: '\0020'
}

.rel {
    padding-left: 1px;
    padding-right: 2px;
}

.reflink {
    margin-left: 4px;
    margin-right: 4px;
}

.def > .reflink, .klammer > .reflink, .etym > .reflink {
    margin-left: 0;
    margin-right: 0
}

.reflink.syn:before {
    content: '\21d2\00a0'
}

.reflink.anto:before {
    content: '\21d4\00a0'
}

.reflink.main:before {
    content: '\21d1\00a0'
}

.reflink.altread:before {
    content: '\2192\00a0'
}

.reflink.alttranscr:before {
    content: '\261e\00a0'
}

.parents + .parent:before {
    content: '\00a0≫\00a0';
}

.parentheadword {
    padding-top: 2px;
    font-size: 80%;
    background-color: -apple-system-text-background;
}

.parentheadword a {
    color: -apple-system-secondary-label;
}

.parentheadword:before {
    content: '\00a0≫\00a0';
    font-weight: bold;
}

.dom {
    font-family: sans-serif;
    color: -apple-system-green;
    font-style: italic;
    font-variant: small-caps
}

.global {
    font-size: 80%;
    vertical-align: 8%;
    margin-right: 0.5em;
    margin-top: .5em;
    margin-bottom: .2em;
    display: block;
    padding: 0 2px;
}

.hinshi:after {
    content: ' '
}

.subheadword, .ruigo {
    font-size: 90%;
}

.ruigos {
    margin-top: .6em;
}

.reg, .usage {
    font-size: 80%;
    display: block;
}

.sense .reg, .sense .usage, .subheadword .reg, .subheadword .usage {
    display: inline-block;
}

.reg {
    font-style: italic;
    color: darkSlateBlue;
}

@media (prefers-color-scheme: dark) {
    .reg {
        -apple-color-filter: apple-invert-lightness();
    }
}

.usage {
    color: -apple-system-red;
    font-style: italic
}

.reg + .token:before, .usage + .token:before, .famn + .token:before {
    content: '\0020'
}

.iron + *:empty + .token:before {
    content: ' ';
}

.season, .count {
    font-size: 80%;
    color: -apple-system-secondary-label;
    border: 1px solid -apple-system-secondary-label;
    border-radius: 3px;
    padding: 2px 2px 0px 3px;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.latin {
    font-style: italic;
}

.label {
    font-size: 90%;
    border-width: 2px 4px 2px 4px;
    margin-right: 0.5em;
}

.label:before {
    content: '〈';
}

.label:after {
    content: '〉';
}

.title {
    quotes: '„' '“' '‚' '‘';
}

.title:before {
    content: open-quote
}

.title:after {
    content: close-quote
}

.klammer {
    color: -apple-system-secondary-label;
}

.note .label {
    margin-top: .6em;
    display: inline-block;
    font-weight: normal;
    color: #db7093;
    background: transparent;
}

.note .content {
    display: inline-block;
}

body[lang="ja"] *[lang="de"] {
    display: none;
}

body[lang="de"] *[lang="ja"] {
    display: none;
}

div.image_appendix_line {

}

span.image_appendix_entry {
    font-size: 80%;
}

dd .season {
    display: none;
}

span.njk:before {
    content: '╳';
    font-size: 60%;
    vertical-align: 40%;
    color: -apple-system-secondary-label;
}

span.njok:before {
    content: '△';
    font-size: 60%;
    vertical-align: 40%;
    color: -apple-system-secondary-label;
}

span.jjk:before {
    content: '〈';
    color: -apple-system-secondary-label;
}

span.jjk:after {
    content: '〉';
    color: -apple-system-secondary-label;
}

span.fjjk:before {
    content: '《';
    color: -apple-system-secondary-label;
}

span.fjjk:after {
    content: '》';
    color: -apple-system-secondary-label;
}

span.paren:before {
    content: '（';
    color: -apple-system-secondary-label;
}

span.paren:after {
    content: '）';
    color: -apple-system-secondary-label;
}

a span.njk:before,
a span.njok:before,
a span.jjk:before,
a span.jjk:after,
a span.fjjk:before,
a span.fjjk:after,
a span.paren:before,
a span.paren:after {
    color: -webkit-link;
}

.iron, .literal, .topic, .transl, .specchar {
    quotes: '»' '«' '›' '‹';
}

.iron:before, .literal:before, .topic:before, .transl:before, .specchar:before {
    content: open-quote;
}

.iron:after, .literal:after, .topic:after, .transl:after, .specchar:after {
    content: close-quote;
}

.debug {
    font-family: monospace;
    font-size: small;
}

/* für Lion Dictionary popup */

html.apple_client-panel {
    background-color: transparent;
}

html.apple_client-panel body {
    font-size: 14px;

    margin-top: 0;
    margin-left: 1em;
    margin-bottom: 0;
    margin-right: 1em;

    color: text;
    text-shadow: 0 1px 0 #EEEEEE;
    line-height: 18px;

    overflow-x: hidden;
    overflow-y: hidden;
}

html.apple_client-panel a,
html.apple_client-panel a:link,
html.apple_client-panel a:visited,
html.apple_client-panel a:hover,
html.apple_client-panel a:active {
    color: text;
    text-decoration: none;
}

html.apple_client-panel .image,
html.apple_client-panel .url,
html.apple_client-panel .uid,
html.apple_client-panel .hinshi,
html.apple_client-panel .reflink.parent,
html.apple_client-panel .parentheadword {
    display: none;
}

html.apple_client-panel h1,
html.apple_client-panel h1 > * {
    font-size: 100%;
    color: text;
}

html.apple_client-panel span.meaning,
html.apple_client-panel span.subheadword {
    display: block;
    padding-bottom: 2px;
    padding-left: 1em;
    text-indent: -1em;
}
