@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

d|entry {
}
body{
    font-family: 'Hiragino Mincho ProN';
    font-weight:normal;
    line-height:1.33em;
    margin-right: 1em;
    margin-top: 0.4em;
    margin-bottom: 10px;
}
h1	{
	font-size: 150%;
}

h3	{
	font-size: 100%;
}

a       {
        color:#2971A7;
        text-decoration:none;
}

a:hover {
        color:#2971A7;
        text-decoration:underline;
}


.genus,.foreign{
    font-style:italic;
    color:gray
}
.genus:before{content:'\00a0'}
.indexnr:after{content:'.\00a0'}
.indexnr{font-weight: bold}
.sense:after{content:'\0020'}
.sense{
    display:block;
    margin: 4px 0;
}
.klammer:before{content:'\0020'}
.etym:before{content:'\00a0('}
.etym:after{content:')'}
.famn{font-weight:bold}
.b{border-bottom:1px dotted gray}
.t{border-top:1px dotted gray}
.l{border-left:1px dotted gray}
.r{border-right:1px dotted gray}
.transcr:before{content:'<'}
.transcr:after{content:'>'}
.jap + .transcr:before,.transcr + .jap:before{content:'\0020'}
.reflink {margin-left:4px;margin-right:4px;}
.reflink.syn:before{content:'\21d2\00a0'}
.reflink.anto:before{content:'\21d4\00a0'}
.reflink.main:before{content:'\21d1\00a0'}
.reflink.aread:before{content:'\2192\00a0'}
.reflink.parent:before{content:'\21e7\00a0'}
.dom{
    font-family:sans-serif;
    color:darkgreen;
    font-style:italic;
    font-variant:small-caps
}
.hinshi{
    font-family: 'HelveticaNeue';
    font-size:60%;
    background: #f0f0f0;
    vertical-align:8%;
    margin-right: 0.5em;
    margin-top: .5em;
    margin-bottom: .2em;
    display: inline-block;
    padding: 0 2px;
}
.subheadword{
    font-size: 80%;
}
.reg{font-style:italic;color:#483d8b}
.usage{color:maroon;font-style:italic}
.season:before{content:'\3010'}
.season:after{content:'\3011'}
.latin{font-style: italic;}
.label{
    font-family: 'Hiragino Kaku Gothic ProN';
    font-weight:bold;
    font-size:80%;
    color: #ffffff;
    Background: #606060;
    vertical-align:8%;
    border: solid #606060;
    border-width:2px 4px 2px 4px;
    margin-right: 0.5em;
}
