@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

d|entry {
}
body{
    font-family: 'Hiragino Mincho ProN';
    font-weight:normal;
    line-height:1.33em;
    margin-right: 1em;
    margin-top: 0.4em;
    margin-bottom: 10px;
}

h1 {
    font-size: 150%;
    margin-bottom: 0.2em;
}

span.headword {
    font-weight:bold;
    font-size:100%;
    margin-bottom: 0.2em;
}

span.hyouki {
    font-weight:normal;
    font-size:80%;
    vertical-align:10%;
}

a       {
    color:#2971A7;
    text-decoration:none;
}

a:hover {
    color:#2971A7;
    text-decoration:underline;
}


.genus,.foreign{
    font-style:italic;
    color:gray
}
.genus:before{content:'\00a0'}
.indexnr:after{content:'.\00a0'}
.indexnr{font-weight: bold}
.sense:after{content:'\0020'}
.sense{
    display:block;
    margin: 4px 0;
}
.klammer:before{content:'\0020'}
.etym {color: gray;}
.etym:before{content:'\00a0('}
.etym:after{content:')'}
.famn{font-weight:bold}
.b{border-bottom:1px dotted gray}
.t{border-top:1px dotted gray}
.l{border-left:1px dotted gray}
.r{border-right:1px dotted gray}
.transcr:before{content:'<'}
.transcr:after{content:'>'}
.jap + .transcr:before,.transcr + .jap:before{content:'\0020'}
.reflink {margin-left:4px;margin-right:4px;}
.reflink.syn:before{content:'\21d2\00a0'}
.reflink.anto:before{content:'\21d4\00a0'}
.reflink.main:before{content:'\21d1\00a0'}
.reflink.aread:before{content:'\2192\00a0'}
.reflink.parent:before{content:'\21e7\00a0'}
.dom{
    font-family:sans-serif;
    color:darkgreen;
    font-style:italic;
    font-variant:small-caps
}
.hinshi{
    font-family: 'Baskerville';
    font-size:80%;
    vertical-align:8%;
    margin-right: 0.5em;
    margin-top: .5em;
    margin-bottom: .2em;
    display: inline-block;
    padding: 0 2px;
}
.hinshi:before {content: '〘'}
.hinshi:after {content: '〙'}
.subheadword{
    font-size: 80%;
}
.reg{font-style:italic;color:#483d8b}
.usage{color:maroon;font-style:italic}
.season:before{content:'\3010'}
.season:after{content:'\3011'}
.latin{font-style: italic;}
.label{
    font-family: 'Hiragino Kaku Gothic ProN';
    font-weight:bold;
    font-size:80%;
    color: #ffffff;
    Background: #606060;
    vertical-align:8%;
    border: solid #606060;
    border-width:2px 4px 2px 4px;
    margin-right: 0.5em;
}
.title:before{content:'\201e'}
.title:after{content:'\201f'}
.klammer{color:gray}

/* für Lion Dictionary popup */

html.apple_client-panel {
    background-color: transparent;
}
html.apple_client-panel body {
    font-size: 14px;

    margin-top: 0px;
    margin-left: 1em;
    margin-bottom: 0px;
    margin-right: 1em;

    color: #111111;
    text-shadow: 0px 1px 0px #EEEEEE;
    line-height: 18px;

    overflow-x: hidden;
    overflow-y: hidden;
}
html.apple_client-panel a,
html.apple_client-panel a:link,
html.apple_client-panel a:visited,
html.apple_client-panel a:hover,
html.apple_client-panel a:active
{
    color: #000000;
    text-decoration: none;
}
html.apple_client-panel div.lineart {
    display: none;
}
html.apple_client-panel img {
    display: none;
}

html.apple_client-panel h1,
html.apple_client-panel h1 > *
{
    font-size: 100%;
    color: #777777;
}

html.apple_client-panel .hinshi {
    display: none;
}

html.apple_client-panel span.meaning,
html.apple_client-panel span.subheadword,
html.apple_client-panel span.example
{
    display: block;
    padding-bottom: 2px;
    padding-left: 1em;
    text-indent: -1em;
}
